@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-brand: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  --color-primary: #FF4500;
  --color-neutral-background: #0e1113;
  --color-neutral-background-hover: #181C1F;
  --color-neutral-background-container-strong: #21272A;

  --color-tone-7: #080808;
}

:root {
  --background: #ffffff;
  --foreground: #0e1113;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e1113;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* No track background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-zinc-700); /* Light gray thumb */
  border-radius: 10px; /* Rounded edges */
  cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-zinc-500); /* Slightly darker on hover */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-zinc-700) transparent;
}